In [26]:
import pandas as pd
import numpy as np
from scipy import stats

## <div dir="rtl" style="font-family: 'Segoe UI', Tahoma, sans-serif; font-size: 24px; color: #ffffff; font-weight: bold; padding: 12px; border-radius: 8px; background: linear-gradient(135deg, #1e3a8a, #4f46e5); text-align: right;">سوال 3 آزمون فرض </div>

### <div dir="rtl" style="font-family: 'Segoe UI', Tahoma, sans-serif; font-size: 20px; color: #ffffff; font-weight: bold; padding: 10px; border-radius: 8px; background: linear-gradient(135deg, #3b82f6, #60a5fa); text-align: right;"> خواندن دیتا </div>

از آنجا که در پرسشنامه بخش میزان تحصیلات شامل گزینه‌ی "سایر" بود، دو حالت که "سایر" شامل مدارک دانشگاهی می‌شود و نمی‌شود را بررسی میکنیم

In [27]:
df=pd.read_csv('df_test3')
df2=df.copy()

In [28]:
df.head()

       Address        income  state
0  10001000108  1.960000e+09   True
1  10001000111  1.800000e+09  False
2  10001000113  3.552000e+09   True
3  10001000114  1.440000e+08  False
4  10001000116  2.616000e+09  False

In [29]:
#seperating degrees considered 'university'
university_degrees = ['Bachelor', 'Master', 'PhD']
university_degrees2 = ['Bachelor', 'Master', 'PhD','other']

### <div dir="rtl" style="font-family: 'Segoe UI', Tahoma, sans-serif; font-size: 20px; color: #ffffff; font-weight: bold; padding: 10px; border-radius: 8px; background: linear-gradient(135deg, #3b82f6, #60a5fa); text-align: right;"> اجرای آزمون فرض</div>

In [30]:
# for "other" not considered as a university degree
uni = df[df['state'] == True]['income']
non_uni= df[df['state'] == False]['income']


t_stat, p_value = stats.ttest_ind(uni, non_uni)


print(f"T-statistics: {t_stat}")
print(f"P-value: {p_value}")


if p_value < 0.05:
    print("There is a significant difference in annual income between the groups.")
else:
    print("There is no significant difference in annual income between the groups.")

T-statistics: 13.263785805038017
P-value: 4.088771217276276e-40
There is a significant difference in annual income between the groups.

In [31]:
# for "other" 
# considered as a university degree
unii = df2[df2['state'] == True]['income']
non_unii= df2[df2['state'] == False]['income']

t_stat, p_value = stats.ttest_ind(unii, non_unii)


print(f"T-statistics: {t_stat}")
print(f"P-value: {p_value}")

if p_value < 0.05:
    print("There is a significant difference in annual income between the two groups.")
else:
    print("There is no significant difference in annual income between the two groups.")

T-statistics: 13.263785805038017
P-value: 4.088771217276276e-40
There is a significant difference in annual income between the two groups.