In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import KNNImputer

### <div dir="rtl" style="font-family: 'Segoe UI', Tahoma, sans-serif; font-size: 20px; color: #ffffff; font-weight: bold; padding: 10px; border-radius: 8px; background: linear-gradient(135deg, #2EA149, #60a5fa); text-align: right;"> خواندن شیت های مربوط </div>

In [2]:
#read the files
df_98_R = pd.read_excel('R98.xlsx',sheet_name=['R98P4S01','R98P4S02','R98P4S03'])
df_98_U = pd.read_excel('U98.xlsx',sheet_name=['U98P4S01','U98P4S02','U98P4S03']) 

df_99_R = pd.read_excel('R99.xlsx',sheet_name=['R99P4S01','R99P4S02','R99P4S03'])
df_99_U = pd.read_excel('U99.xlsx',sheet_name=['U99P4S01','U99P4S02','U99P4S03'])

df_1400_R = pd.read_excel('R1400.xlsx',sheet_name=['R1400P4S01','R1400P4S02','R1400P4S03'])
df_1400_U = pd.read_excel('U1400.xlsx',sheet_name=['U1400P4S01','U1400P4S02','U1400P4S03'])

df_1401_R = pd.read_excel('R1401.xlsx',sheet_name=['R1401P4S01','R1401P4S02','R1401P4S03'])
df_1401_U = pd.read_excel('U1401.xlsx',sheet_name=['U1401P4S01','U1401P4S02','U1401P4S03'])

In [3]:
#R98
df_98_Ra = df_98_R['R98P4S01']
df_98_Rb = df_98_R['R98P4S02']
df_98_Rc = df_98_R['R98P4S03'] 

df_98_Ua = df_98_U['U98P4S01']
df_98_Ub = df_98_U['U98P4S02']
df_98_Uc = df_98_U['U98P4S03']
#R99
df_99_Ra = df_99_R['R99P4S01']
df_99_Rb = df_99_R['R99P4S02']
df_99_Rc = df_99_R['R99P4S03'] 

df_99_Ua = df_99_U['U99P4S01']
df_99_Ub = df_99_U['U99P4S02']
df_99_Uc = df_99_U['U99P4S03']
#R1400
df_1400_Ra = df_1400_R['R1400P4S01']
df_1400_Rb = df_1400_R['R1400P4S02']
df_1400_Rc = df_1400_R['R1400P4S03'] 

df_1400_Ua = df_1401_U['U1401P4S01']
df_1400_Ub = df_1401_U['U1401P4S02']
df_1400_Uc = df_1401_U['U1401P4S03']
#R1401
df_1401_Ra = df_1401_R['R1401P4S01']
df_1401_Rb = df_1401_R['R1401P4S02']
df_1401_Rc = df_1401_R['R1401P4S03'] 

df_1401_Ua = df_1401_U['U1401P4S01']
df_1401_Ub = df_1401_U['U1401P4S02']
df_1401_Uc = df_1401_U['U1401P4S03']

In [4]:
#add year column
df_98_Ra['year'] , df_98_Rb['year'] , df_98_Rc['year'] = 98,98,98
df_99_Ra['year'] , df_99_Rb['year'] , df_99_Rc['year'] = 99,99,99
df_1400_Ra['year'] , df_1400_Rb['year'] , df_1400_Rc['year'] = 1400,1400,1400
df_1401_Ra['year'] , df_1401_Rb['year'] , df_1401_Rc['year'] = 1401,1401,1401

df_98_Ua['year'] , df_98_Ub['year'] , df_98_Uc['year'] = 98,98,98
df_99_Ua['year'] , df_99_Ub['year'] , df_99_Uc['year'] = 99,99,99
df_1400_Ua['year'] , df_1400_Ub['year'] , df_1400_Uc['year'] = 1400,1400,1400
df_1401_Ua['year'] , df_1401_Ub['year'] , df_1401_Uc['year'] = 1401,1401,1401

### <div dir="rtl" style="font-family: 'Segoe UI', Tahoma, sans-serif; font-size: 20px; color: #ffffff; font-weight: bold; padding: 10px; border-radius: 8px; background: linear-gradient(135deg, #2EA149, #60a5fa); text-align: right;"> ترکیب دیتافریم های یکسان </div>

In [5]:
#preparing data

df_a = pd.concat([df_98_Ra,df_99_Ra,df_1400_Ra,df_1401_Ra,df_98_Ua,df_99_Ua,df_1400_Ua,df_1401_Ua]) 
df_b = pd.concat([df_98_Rb,df_99_Rb,df_1400_Rb,df_1401_Rb,df_98_Ub,df_99_Ub,df_1400_Ub,df_1401_Ub]) 
df_c = pd.concat([df_98_Rc,df_99_Rc,df_1400_Rc,df_1401_Rc,df_98_Uc,df_99_Uc,df_1400_Uc,df_1401_Uc]) 

df_a= df_a[['Address','income_w_y','year']]
df_b=df_b[['Address','sale','year']]
df_c = df_c.drop(['member', 'Fasl', 'DYCOL00'], axis=1)

### <div dir="rtl" style="font-family: 'Segoe UI', Tahoma, sans-serif; font-size: 20px; color: #ffffff; font-weight: bold; padding: 10px; border-radius: 8px; background: linear-gradient(135deg, #2EA149, #60a5fa); text-align: right;"> توضیح دیتا</div>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
حالا سه دیتافریم داریم:

</font>
</p>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
df_a : شامل درامد افراد از حقوق دریافتی
</font>
</p>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
df_b : شامل درامد افراد از مشاغل آزاد
</font>
</p>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
df_c : شامل درامد از سایر منابع درامدی
</font>
</p>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
حالا باید تمام دیتافریم ها را ترکیب کنیم
</font>
</p>

#### <div dir="rtl" style="font-family: 'Segoe UI', Tahoma, sans-serif; font-size: 20px; color: #ffffff; font-weight: bold; padding: 10px; border-radius: 8px; background: linear-gradient(135deg, #2EA149, #60a5fa); text-align: right;"> تبدیل مقادیر به مقادیر عددی و ایجاد ستون مجموع درآمد</div>

In [6]:
#converting all variable types to numeric so we can sum them toghether
df_c = df_c.apply(pd.to_numeric, errors='coerce') 

# combining all 'other' incomes
df_c['total_other'] = df_c['income_pension'] + df_c['income_rent'] + df_c['income_interest'] + df_c['income_aid'] + df_c['income_resale'] + df_c['income_transfer']

#### <div dir="rtl" style="font-family: 'Segoe UI', Tahoma, sans-serif; font-size: 20px; color: #ffffff; font-weight: bold; padding: 10px; border-radius: 8px; background: linear-gradient(135deg, #2EA149, #60a5fa); text-align: right;"> حذف ستون های اضافه </div>

In [7]:
#dropping unnecessary columns
df_c= df_c.drop(['income_pension', 'income_rent', 'income_interest',
       'income_aid', 'income_resale', 'income_transfer'],axis=1)

### <div dir="rtl" style="font-family: 'Segoe UI', Tahoma, sans-serif; font-size: 20px; color: #ffffff; font-weight: bold; padding: 10px; border-radius: 8px; background: linear-gradient(135deg, #2EA149, #60a5fa); text-align: right;"> ترکیب دسته بندی ها و ایجاد یک دیتافریم واحد </div>

In [8]:
#merging data
df_ab = pd.merge(df_a, df_b, on=['Address','year'], how='outer')

df_all = pd.merge(df_ab, df_c, on=['Address','year'], how='outer')
df_all

            Address    income_w_y  year          sale  total_other
0       10001000108           NaN    98           NaN          NaN
1       10001000111  6.000000e+08    98           NaN          NaN
2       10001000113  2.400000e+08    99           NaN          NaN
3       10001000114           NaN    98           NaN          NaN
4       10001000116           NaN    99           NaN          NaN
...             ...           ...   ...           ...          ...
342652  23006709832  1.200000e+09  1400           NaN          NaN
342653  23006709832           NaN  1401  1.200000e+09  636530000.0
342654  23006709835  1.215000e+09  1401           NaN  129530000.0
342655  23006709838           NaN  1401           NaN  300700000.0
342656  23006709841           NaN  1401           NaN  742700000.0

[342657 rows x 5 columns]

### <div dir="rtl" style="font-family: 'Segoe UI', Tahoma, sans-serif; font-size: 20px; color: #ffffff; font-weight: bold; padding: 10px; border-radius: 8px; background: linear-gradient(135deg, #2EA149, #60a5fa); text-align: right;"> پر کردن مقادیر گمشده </div>

In [9]:
# Calculate the skewness
skewness = df_all.skew(numeric_only=True)

# Filling missing values based on skewness
for column in df_all.columns:
    if df_all[column].isnull().any():
        if abs(skewness[column]) < 0.5:  
        
            df_all[column].fillna(df_all[column].mean(), inplace=True)
        else:
           
            df_all[column].fillna(df_all[column].median(), inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_2484\3385978045.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_all[column].fillna(df_all[column].median(), inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_2484\3385978045.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_all[column].fillna(df_all[column].median(), inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_2484\3385978045.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_all[column].fillna(df_all[column].median(), inplace=True)

In [10]:
df_all.isna().sum()

Address        0
income_w_y     0
year           0
sale           0
total_other    0
dtype: int64

### <div dir="rtl" style="font-family: 'Segoe UI', Tahoma, sans-serif; font-size: 20px; color: #ffffff; font-weight: bold; padding: 10px; border-radius: 8px; background: linear-gradient(135deg, #2EA149, #60a5fa); text-align: right;"> ترکیب دیتا فریم های مرتبط بر اساس سال و جمع مقادیر </div>

In [11]:
# grouping data by address and year so we can have family income for each year
df_all = df_all.groupby(['Address', 'year']).agg(
    income_w_y_sum=pd.NamedAgg(column='income_w_y', aggfunc='sum'),
    sale_sum=pd.NamedAgg(column='sale', aggfunc='sum'),
    total_other_sum=pd.NamedAgg(column='total_other', aggfunc='sum')
).reset_index()

In [12]:
# summing all incomes to create the general column income
df_all['income'] = df_all[['income_w_y_sum', 'sale_sum', 'total_other_sum']].sum(axis=1)

In [13]:
df_all.head()

,Address,year,income_w_y_sum,sale_sum,total_other_sum,income
0,10001000108,98,331000000.0,302000000.0,46600000.0,679600000.0
1,10001000111,98,600000000.0,302000000.0,46600000.0,948600000.0
2,10001000113,99,240000000.0,302000000.0,46600000.0,588600000.0
3,10001000114,98,331000000.0,302000000.0,46600000.0,679600000.0
4,10001000116,99,331000000.0,302000000.0,46600000.0,679600000.0

In [14]:
df_all.isna().sum()

Address            0
year               0
income_w_y_sum     0
sale_sum           0
total_other_sum    0
income             0
dtype: int64

### <div dir="rtl" style="font-family: 'Segoe UI', Tahoma, sans-serif; font-size: 20px; color: #ffffff; font-weight: bold; padding: 10px; border-radius: 8px; background: linear-gradient(135deg, #2EA149, #60a5fa); text-align: right;"> دریافت خروجی دیتافریم نهایی </div>

In [15]:
income=df_all.copy()

In [20]:
income.to_csv('income.csv', index=False)